.box{
    box-shadow: 2px 2px white;
}
.text-shadow{
    text-shadow: 2px 2px white;
}
.box:hover{
    animation: glow-animation 1s ease-in-out infinite alternate;
    border-top: 0;
    border-left:0 ;
}
.click{
  box-shadow: 1px 1px white;

}
.click:hover{
  box-shadow: 1px 1px white;
  background-color: aqua;
  animation: click-animation 1s ease-in-out infinite alternate;

}

@keyframes glow-animation {
    0% {
      box-shadow: 0 0 10px #ff8000;
    }
    100% {
      box-shadow: 0 0 20px  #ff8000; 
    }
  }
@keyframes click-animation {
    0% {
      box-shadow: 0 0 10px #00eaff;
    }
    100% {
      box-shadow: 0 0 20px   #00eaff; 
    }
  }