/* Define the glow animation */
@keyframes glow {
    0% {
      box-shadow: 0 0 10px #fff; /* Start glow effect */
    }
    50% {
      box-shadow: 0 0 20px rgb(255, 132, 0); /* Mid glow effect */
    }
    100% {
      box-shadow: 0 0 10px #fff; /* End glow effect */
    }
  }
  
  /* Apply the glow animation to an element */
  .glowing-element {
    animation: glow 1s infinite alternate;
     /* Apply the glow animation */
  }
  