/* Define the glow animation */
@keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(250, 105, 1, 0.94);
    }
    100% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.9); 
    }
  }
  .glowing-element {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    animation: glow 1s infinite alternate;
  }
  
  